In [170]:
import gmaps
import pandas as pd

# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [234]:
# Create aiport dataframe
data = pd.read_csv('final_10_neighborhoods.csv')
data.dropna(inplace = True) 
#data.head()
#has duplicates so separate csv's are imported for analyze AirBnb and Regular properties separately

In [125]:
#import airbnb data - airbnb data has mostly 20 properties per neighborhood, but 4 neighborhoods have more
#we we will randomly select 20 properties from each of these to ensure the heat maps display controlled and accurate data
air_data = pd.read_csv('air_neighborhoods.csv')
data.dropna(inplace = True) 
#loc to HOUSE - not used as we opted to show all types of properties
air_house = air_data.loc[
    (air_data["AirBnb Type"] == "House")]
air_house.head()

,id,AirBnb Neighborhood,AirBnb Price,AirBnb Type,AirBnb Lat,AirBnb Long,AirBnb Source,neighborhood name
0,28612443,"{'id': 19810, 'name': 'Pacific Palisades'}",14976,House,34.040001,-118.529808,Airbnb,Pacific Palisades
3,28612454,"{'id': 19810, 'name': 'Pacific Palisades'}",6084,House,34.044300,-118.538147,Airbnb,Pacific Palisades
4,28612432,"{'id': 19810, 'name': 'Pacific Palisades'}",2754,House,34.046169,-118.528107,Airbnb,Pacific Palisades
5,28612461,"{'id': 19810, 'name': 'Pacific Palisades'}",8064,House,34.046028,-118.530373,Airbnb,Pacific Palisades
7,28612436,"{'id': 19810, 'name': 'Pacific Palisades'}",8604,House,34.047241,-118.510330,Airbnb,Pacific Palisades

In [159]:
#South LA (106 to remove), Westwood (4 to remove), Downtown(33 to remove), Hollywood (2 to remove)
#south los angeles
air_south_la = air_data.loc[
    (air_data["neighborhood name"] == "South Los Angeles")
]
la_properties = air_south_la.sample(20)

#westwood
air_westwood = air_data.loc[
    (air_data["neighborhood name"] == "Westwood")
]
westwood_properties = air_westwood.sample(20)

#downtown
air_downtown = air_data.loc[
    (air_data["neighborhood name"] == "Downtown")
]
downtown_properties = air_downtown.sample(20)

#hollywood
air_hollywood = air_data.loc[
    (air_data["neighborhood name"] == "Hollywood")
]
hollywood_properties = air_hollywood.sample(20)

In [156]:
pd.set_option("display.max_rows", 40, "display.max_columns", None)

In [162]:
#replace air data for those three neighborhoods with random data
# air_data.loc[
#     (air_data["neighborhood name"] == "South Los Angeles")]

#remove the three neighborhoods
air_data2 = air_data
air_data2 = air_data2.drop(air_data2[air_data2["neighborhood name"] == "South Los Angeles"].index)
air_data2 = air_data2.drop(air_data2[air_data2["neighborhood name"] == "Westwood"].index)
air_data2 = air_data2.drop(air_data2[air_data2["neighborhood name"] == "Downtown"].index)
air_data2 = air_data2.drop(air_data2[air_data2["neighborhood name"] == "Hollywood"].index)

#add the random neighborhoods
air_data2 = air_data2.append(la_properties)
air_data2 = air_data2.append(westwood_properties)
air_data2 = air_data2.append(downtown_properties)
air_data2 = air_data2.append(hollywood_properties)
air_data2.head()

,id,AirBnb Neighborhood,AirBnb Price,AirBnb Type,AirBnb Lat,AirBnb Long,AirBnb Source,neighborhood name
0,28612443,"{'id': 19810, 'name': 'Pacific Palisades'}",14976,House,34.040001,-118.529808,Airbnb,Pacific Palisades
1,28612467,"{'id': 19810, 'name': 'Pacific Palisades'}",1530,Apartment,34.026649,-118.516907,Airbnb,Pacific Palisades
2,28612449,"{'id': 19810, 'name': 'Pacific Palisades'}",2304,Guesthouse,34.037312,-118.532021,Airbnb,Pacific Palisades
3,28612454,"{'id': 19810, 'name': 'Pacific Palisades'}",6084,House,34.044300,-118.538147,Airbnb,Pacific Palisades
4,28612432,"{'id': 19810, 'name': 'Pacific Palisades'}",2754,House,34.046169,-118.528107,Airbnb,Pacific Palisades

In [163]:
#import regular data - regular data has 20 properties per neighborhood
reg_data = pd.read_csv('reg_neighborhoods.csv')
data.dropna(inplace = True) 
reg_data.head()
#loc to HOUSE - not used as we opted to show all types of properties
reg_house = reg_data.loc[
    (reg_data["Regular Type"] == "single_home")|
    (reg_data["Regular Type"] == "townhouse")]
reg_house.head()

,id,neighborhood name,Regular Price,Regular Type,Regular Lat,Regular Long,Regular Source
1,5289676,Pacific Palisades,4595,townhouse,34.078701,-118.564003,Reguar
3,5383452,Pacific Palisades,8500,single_home,34.044498,-118.564003,Reguar
9,5804754,Pacific Palisades,23950,single_home,34.041012,-118.562477,Reguar
11,5845651,Pacific Palisades,12500,single_home,34.041439,-118.557892,Reguar
17,5896232,Pacific Palisades,14000,single_home,34.039570,-118.524292,Reguar

In [224]:
#group data to show one marker per neighborhood and average Airbnb property price
grouped_air_data = air_data2[['neighborhood name', 'AirBnb Lat', 'AirBnb Long', 'AirBnb Price']].groupby('neighborhood name').mean()
grouped_air_data

                   AirBnb Lat  AirBnb Long  AirBnb Price
neighborhood name
Downtown            34.049114  -118.254193        3302.1
Encino              34.164837  -118.503611        2892.6
Hollywood           34.099121  -118.315419        2402.1
Mar Vista           34.007421  -118.434863        2582.1
Pacific Palisades   34.044369  -118.532722        6524.1
Silver Lake         34.091723  -118.271412        2803.5
South Los Angeles   34.020218  -118.357853        2319.3
Studio City         34.143970  -118.392417        4130.1
Venice              33.993661  -118.468177        4588.2
Westwood            34.060033  -118.444639        2889.0

In [248]:
#create hover text variable
hover_air = grouped_air_data.index + "\n" + "Average Airbnb monthly income is $" + grouped_air_data['AirBnb Price'].apply(str)
hover_air

neighborhood name
Downtown             Downtown\nAverage Airbnb monthly income is $33...
Encino                Encino\nAverage Airbnb monthly income is $2892.6
Hollywood            Hollywood\nAverage Airbnb monthly income is $2...
Mar Vista            Mar Vista\nAverage Airbnb monthly income is $2...
Pacific Palisades    Pacific Palisades\nAverage Airbnb monthly inco...
Silver Lake          Silver Lake\nAverage Airbnb monthly income is ...
South Los Angeles    South Los Angeles\nAverage Airbnb monthly inco...
Studio City          Studio City\nAverage Airbnb monthly income is ...
Venice                Venice\nAverage Airbnb monthly income is $4588.2
Westwood             Westwood\nAverage Airbnb monthly income is $28...
dtype: object

In [246]:
# Store latitude and longitude in locations
air_neighborhoods = air_data2[["AirBnb Lat", "AirBnb Long"]]
reg_neighborhoods = reg_data[["Regular Lat", "Regular Long"]]

# Store latitude and longitude in locations - HOUSE
air_neighborhoods_house = air_house[["AirBnb Lat", "AirBnb Long"]]
reg_neighborhoods_house = reg_house[["Regular Lat", "Regular Long"]]

# Fill NaN values and convert to float
air_price = air_data2["AirBnb Price"].astype(float)/10000
reg_price = reg_data["Regular Price"].astype(float)/10000

#price variances for just house
air_house_price = air_house["AirBnb Price"].astype(float)/1000
reg_house_price = reg_house["Regular Price"].astype(float)/1000
#181 observations for reg house data and price
#102 observations for air house data and price

In [251]:
# Plot Heatmap AIRBNB - ALL PROPERTIES
air_fig = gmaps.figure(center=[34.00510025,-118.4349976], zoom_level=11)
#
# Create heat layer AIRBNB
heat_layer = gmaps.heatmap_layer(air_neighborhoods, 
                                weights=air_price, 
                                 dissipating=True,
                                 point_radius=30)

marker_layer_air = gmaps.marker_layer(grouped_air_data[['AirBnb Lat', 'AirBnb Long']],
                                hover_text= hover_air,
                                 label=grouped_air_data.index,
                                info_box_content=None,
                                display_info_box=None)




# Add layer
air_fig.add_layer(heat_layer)
air_fig.add_layer(marker_layer_air)

# Display figure
air_fig

Figure(layout=FigureLayout(height='420px'))

In [221]:
#group data to show one marker per neighborhood and average regular property price
grouped_reg_data = reg_data[['neighborhood name', 'Regular Lat', 'Regular Long', 'Regular Price']].groupby('neighborhood name').mean()
grouped_reg_data

                   Regular Lat  Regular Long  Regular Price
neighborhood name
Downtown             34.047058   -118.256842        2837.25
Encino               34.168230   -118.514891        1823.00
Hollywood            34.090314   -118.326786        2328.30
Mar Vista            34.005470   -118.433600        2584.45
Pacific Palisades    34.050093   -118.544368       12188.25
Silver Lake          34.089465   -118.272880        2165.20
South Los Angeles    33.976134   -118.286804        1208.85
Studio City          34.145221   -118.379386        3342.70
Venice               33.988062   -118.453599        7104.45
Westwood             34.062156   -118.443612        2314.05

In [252]:
#create hover text variable
hover_reg = grouped_reg_data.index + "\n" + "Average regular property price per month $" + grouped_reg_data['Regular Price'].apply(str)
hover_reg

neighborhood name
Downtown             Downtown\nAverage regular property price per m...
Encino               Encino\nAverage regular property price per mon...
Hollywood            Hollywood\nAverage regular property price per ...
Mar Vista            Mar Vista\nAverage regular property price per ...
Pacific Palisades    Pacific Palisades\nAverage regular property pr...
Silver Lake          Silver Lake\nAverage regular property price pe...
South Los Angeles    South Los Angeles\nAverage regular property pr...
Studio City          Studio City\nAverage regular property price pe...
Venice               Venice\nAverage regular property price per mon...
Westwood             Westwood\nAverage regular property price per m...
dtype: object

In [253]:
# Plot Heatmap REGULAR  - ALL PROPERTIES
reg_fig = gmaps.figure(center=[34.00510025,-118.4349976], zoom_level=11)

# Create heat layer AIRBNB
heat_layer2 = gmaps.heatmap_layer(reg_neighborhoods, 
                                weights=reg_price, 
                                 dissipating=True,
                                #max_intensity=max(reg_price),
                                 point_radius=30)


marker_layer2 = gmaps.marker_layer(grouped_reg_data[['Regular Lat', 'Regular Long']],
                                hover_text= hover_reg,
                                label=grouped_reg_data.index,
                                info_box_content=None,
                                display_info_box=None)

# symbol_layer2 = gmaps.symbol_layer(reg_neighborhoods,
#                                 hover_text= hover_reg,
#                                 info_box_content=None,
#                                 display_info_box=None,
#                                 fill_color = "blue",
#                                 stroke_color = "blue",
#                                 scale = 3)

# Add layer
reg_fig.add_layer(heat_layer2)
reg_fig.add_layer(marker_layer2)
#reg_fig.add_layer(symbol_layer2)
# Display figure
reg_fig

Figure(layout=FigureLayout(height='420px'))

![08-Airport_Heatmap.png](../Images/08-Airport_Heatmap.png)

![08-Hybrid_Map.png](../Images/08-Hybrid_Map.png)

![08-Terrain_Map.png](../Images/08-Terrain_Map.png)